temp = '.text'

{temp}
	font-family $f_family
	color #000
	font-size 26px
	font-weight $f_weight_extra
	letter-spacing 0.5px
	text-align justify
	line-height 40px
@media only screen and (max-width:1390px)
	{temp}
		font-size 22px
		line-height 30px