.tabs__content
	overflow hidden
	margin-top 25px
.tabs__content .stream
	list-style none
	height 120px
	overflow scroll
	overflow-y hidden
.tabs__content .stream__el:not(:first-child)
	display none
.tabs__content p
	font-size 20px
	text-align justify
	line-height 26px