.grid__footer
	margin 0 auto
	text-align center
	width 1250px
@media only screen and (max-width:1800px)
	.grid__footer
		max-width 95%	
@media only screen and (max-width:1600px)
	.grid__footer
		max-width 95%
@media only screen and (max-width:1200px)
	.grid__footer
		max-width 95%