.grid__fixed
	margin 0 auto
	text-align center
	width 1650px
@media only screen and (max-width:1800px)
	.grid__fixed
		max-width 95%	
@media only screen and (max-width:1600px)
	.grid__fixed
		max-width 90%
@media only screen and (max-width:1200px)
	.grid__fixed
		max-width 95%
// @media only screen and (max-width:992px)

// @media only screen and (max-width:768px)