temp = '.grid__template_2_3'

{temp}
	display grid
	width 100%
	grid-template-areas "l r"\
											"spacer spacer"
	grid-template-rows 1fr 150px
	grid-template-columns 50% 1fr
{temp} .grid__block_l
	grid-area l
{temp} .grid__block_r
	grid-area r
{temp} .spacer
	grid-area spacer
{temp} .item
	grid-column 3/2
@media only screen and (max-width:1800px)
	{temp}
		grid-template-columns 55% 2fr
@media only screen and (max-width:1600px)
	{temp}
		grid-template-columns 65% 35%

@media only screen and (max-width:1390px)
	{temp}
		grid-template-columns 70% 30%

@media only screen and (max-width:992px)
	{temp}
		grid-template-columns 4fr 2fr
// @media only screen and (max-width:768px)