.grid__template_1_1
	padding 0
	display grid
	width 100%
	grid-template-areas "name money"
	grid-template-columns 1fr 1fr
	align-items center
	height 200px
.grid__template_1_1 .plane__name
	grid-area name
.grid__template_1_1 .plane__money
	grid-area money