.options__button
	position absolute
	right 0
	top 10%
	background #fff
	color #000
	width 43px
	height 43px
	font-size 15px
	margin 0
	text-align center
	line-height 43px
	transform scale(1)!important
	transition all .2s ease!important