.input_theme_app
	font-family Helvetica Neue,Helvetica,Arial,sans-serif
	position relative
	display inline-block
	-webkit-tap-highlight-color transparent
.input_theme_islands
	&:before
		position absolute
		top 1px
		right 1px
		bottom 1px
		left 1px
		content ''
		background #fff