.input__box
	width 100%
	grid-template-areas "input"
	grid-template-columns 650px
	grid-template-rows 250px
	align-items center
.input__box input
	grid-area input
.input__box div
	grid-area button
.input__box .button
	position absolute
	right 10px
.input_theme_app .input__box
	position relative
	display grid
	-webkit-touch-callout none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none