.input__control
	height 75px
	border-radius 15px
	padding 0 12px
	font inherit
	line-height inherit
	position relative
	display inline-block
	-moz-box-sizing border-box
	box-sizing border-box
	padding 0
	width 100%
	border 0
	outline none
	background none
	-webkit-appearance none