doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='HandheldFriendly' content='true')
  meta(name='MobileOptimized' content='width')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='address=no')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  title Title
  meta(name='description' content='Description')
  link(rel='stylesheet' href='./styles/app.css')
body
  // BEMGO:symbol
  // Header
  .app
    section
      header.header
        .nav
          button
          ul
            li
              a(href="javascript:void(#)") Features
            li
              a(href="javascript:void(#)") Tools
            li
              a(href="javascript:void(#)") How it works
            li
              a(href="javascript:void(#)") Pricing
          button
    section
      .wrapper
        .wrapper__left
          header Best Way to you Support Business
          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          ul
            li
              a(href="javascript:void(#)")
            li
              For information
            li
              button
        .wrapper__right
    section


