.nav__menu li:not(:last-child), .nav__menu .stream__el
	margin-right 50px
.nav__menu li, .nav__menu .stream__el, .tabs__el .stream__el
	display inline-block
	list-style-type none
.nav__menu a
	font-size 36px
	font-family $f_family, sans-serif
	text-decoration none
	color $c_text_origin
	font-weight 200
.nav__menu a:hover
	color #324e77
ul li
	list-style-type none
li a
	text-decoration none
	font-family $f_family, sans-serif
	text-decoration none
	color $c_text_origin
	font-weight 200
@media only screen and (max-width:1390px)
	.nav__menu li:not(:last-child), .nav__menu .stream__el
		margin-right 30px