.button_theme_app
	border 5px solid #000000
	font-family $f_family, sans-serif
	position relative
	display inline-block
	width 250px
	padding 10px
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	color #fff
	border-radius 80px
	outline 0
	background #CF5658
	text-align center
	white-space nowrap
	-webkit-tap-highlight-color transparent