.button_theme_switch
	border 5px solid #000000
	font-family $f_family, sans-serif
	position relative
	display inline-block
	width 80px
	height 43px
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	color #000
	border-radius 80px
	outline 0
	text-align center
	white-space nowrap
	-webkit-tap-highlight-color transparent