@media only screen and (max-width:1360px)
	.grid__template_1_3
		grid-template-columns 100px 750px 0.5fr
	.grid__template_1_3 .burger
		grid-column 1/1
	.grid__template_1_3 ul
		grid-column 2/2
// @media only screen and (max-width:992px)

// @media only screen and (max-width:768px)