.main img
	margin 0 auto
.main .stream__el
	width 500px
	height 500px
@media only screen and (max-width:1600px)
	.main .stream__el
		width 410px
		height 550px
@media only screen and (max-width:1390px)
	.main .stream__el
		width 330px